# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_foodDB']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query = ['scores.Hygiene': {''$eq': 20}}
hygiene_results = db.establishements.find(query)                         

# Use count_documents to display the number of documents in the result
count_hygiene = db.establishments.count_documents(query)
print('Number of establishments with a Hygiene Score of 20: {count_hygiene})                            
                            
# Display the first document in the results using pprint
print()
print("One establishment with a Hygiene Score of 20: ")
print()
pprint(hygiene_results[0])

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene_results_df = pd.Dataframe(hygiene_results)

# Display the number of rows in the DataFrame
print('Number of rows in hygiene_results_df: {len(hygiene_results_df)}')

# Display the first 10 rows of the DataFrame
hygiene_results_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': "London"}}, 'RatingValue: {''$gte": '4'}}
london_results = db.establishements.find(query)  

# Use count_documents to display the number of documents in the result
count_london = db.establishments.count_document(london_query)
print("Establishments with London as Local Authority and RatingValue greater than or equal to 4: {count_london}" )                                            

# Display the first document in the results using pprint
print()
print("one establishment with London as Local Authority and RatingValue greater tahn or equal to 4")
print()
pprint(london_results)

In [ ]:
# Convert the result to a Pandas DataFrame
london_results_df = pd.DataFrame(london_results)

# Display the number of rows in the DataFrame
print('Number of rows in hygiene_results_df: {len(london_results_df)}')

# Display the first 10 rows of the DataFrame
london_results_df.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame